.modules-container {
    margin-right: 50px; /* adjust this value to your preference */
}





.list-group-item {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.module {
    margin-right: 20px;  
}



.week {
    border-radius: 0 !important;
    margin-bottom: 20px !important;
    padding: 10px !important;
    border-color:1px solid #ccc !important;
    background-color: #f6f6f6 !important; /* Light grey background */
}

