

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #555;
    margin: 20px 0;
}

.card {
    width: 262px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.btn {
    background-color: #2C3E50; /* Dark Blue Color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px !important;
    display: block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #34495E; /* Slightly Darker Blue */
}

.row {
    margin: 0 -15px;
}

.col {
    padding: 0 15px;
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 10px;
}

button {
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.list-group-item {
    margin-bottom: 10px;
    display: block; 
    padding: 10px;
}

.list-group > div {
    margin-bottom: 15px;
}

.list-group > div {
    border: 1px solid #ddd; /* This will create a light gray border */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px; /* This provides space between each bordered box */
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}



