/* General styles */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;  
}

/* General anchor styles */
a {
    text-decoration: none;
    display: flex;  
    align-items: center;  
    justify-content: center;  /* Center alignment of items */
    padding: 5px;  /* Adjusted to be 5 pixels */
    margin: 5px;   /* Adjusted to be 5 pixels */
    flex-wrap: wrap;  
}


.container-fluid {
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr 2fr 2fr;
    grid-template-rows: auto 1fr; /* Adding this ensures the breadcrumb navigation doesn't stretch to take up excess height */
    grid-template-areas: 
        "col1 nav nav nav"
        "col1 col2 col3 col4";
    gap: 10px;
    height: 100vh; 
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; 
}
.bold-text {
    font-weight: bold;
}

.container-fluid > .column-group {
    grid-area: nav;
}
    
.container-fluid > .column:nth-child(2) {
    grid-area: col1;
    background-color: black;
}
    
.container-fluid > .column:nth-child(3) {
    grid-area: col2;
}
    
.container-fluid > .column:nth-child(4) {
    grid-area: col3;
}
    
.container-fluid > .column:nth-child(5) {
    grid-area: col4;
}



.container-fluid > .column:nth-child(1) {
    background-color: black;
    width: 190px;  
    max-width: 200px;  
}

i {
    color: red;
    margin-right: 5px;  
}

.column-1 a {
    color: white;  
    background-color: black;
    width: 100%;  
}

.column-1 a[href="profile/profiledirect.html"] i {
    color: white;
}

.column-2 a {
    color: red;  /* Text color for the 2nd column set to red */
}

/* Selected state for text and icon in the first column */
.column-1 a.selected {
    color: red;  
}

.column-1 a.selected i {
    background-color: white;
    padding: 5px;  /* Adjust as needed */
    border-radius: 50%;  /* If you want the icon background to be rounded */
}


.column-2 a.selected {
    padding-left: 7px;  
}

.logo-item {
    display: flex;
    justify-content: center;  
    padding: 10px 0;          
}

.sidebar-logo {
    max-width: 150px;        
    height: auto;
    display: block;          
    margin: auto;            
}

.icon-text {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    width: 100%;     
    color: white;         
}

.column ul li a {
    padding: 10px 5px;       
}

i {
    margin-bottom: 5px;      
}


.column:nth-child(1) a {
    color: white;
}


.container-fluid .column-2 ul li a.column-2-link {
    color: red !important;
    text-decoration: none; 
    text-align: left;
    padding-left: 15px;
}


.container-fluid .column-2 ul li a.profile-link {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 13px; 
}


.container-fluid .column-2 ul li a {
    display: block;             
    justify-content: flex-start; 
    align-items: flex-start;     
}


.container-fluid .column-2 ul li a {
    color: red;
}


.grid-column a {
    color: #007BFF; /* Change to your preferred link color */
    text-decoration: underline; /* You can remove this if you don't want them underlined */
    font-size: inherit; /* Ensures the link font size matches surrounding text */
    display: inline; /* Ensures the link doesn't act like a block-level element */
}

.profile-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.profile-name {
    margin-bottom: 0px;
}

.edit-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* This targets links within the second column specifically */
.column-2 a.column-2-link {
    color: red;
    text-align: left;
    padding-left: 15px; /* Added padding on the left to move the text away from the edge */
}

.grid-column h2 {
    margin-top: 30px; /* Adjust this value to your liking */
}


/* Define the styles for an active list item */
.column li.active > a {
    background-color: white;
}

.column li.active > a span {
    color: red;
}

.column li.active > a i {
    color: red;
}

/* Add this to your styles to adjust the arrow's appearance */
.arrow-between-inputs {
    color: black;  /* set arrow color */
    margin-bottom: 5px;  /* push it up a bit to position it correctly */
}


/* Override the default red color for the pencil icon inside the "Cancel Editing" button */
.btn-light i.fas.fa-pencil-alt {
    color: black;
}

/* Make sure the button text and icon are on the same line */
.btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add some spacing between the icon and the text */
.btn-light i.fas.fa-pencil-alt {
    margin-right: 8px; /* Adjust as per your requirement */
}

.cancel-editing-link {
    text-decoration: none;  /* Removes the underline */
    display: inline-flex;   /* Helps align the icon with the text */
    align-items: center;    /* Vertical alignment of items in the flex container */
    justify-content: center; /* Centers items horizontally in the flex container */
    color: black;           /* Text and icon color */
    background-color: white; /* Background color from .btn-light */
    border: 1px solid #ccc; /* Example border, adjust as needed */
    padding: 8px 12px;      /* Example padding, adjust as needed */
    border-radius: 4px;     /* Example border radius, adjust as needed */
}

a.btn.btn-light {
    color: #212529; /* this is nearly black */
    text-decoration: none; /* To remove the default underline */
}


.margin-top-spacing {
    margin-top: 30px;  /* Adjust this value as needed */
}



#select-one-pronoun {
    margin-bottom: 5px; /* Decreased the margin at the bottom */
}



.button-group {
    display: flex; /* To align items horizontally */
    gap: 10px;
}

label[for="title"] {
    margin-bottom: 5px; /* Adjust this value as per your needs */
}

/* Profile header styling */
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* spacing below the icon and button */
}

.profile-header i {
    color: lightgrey;
    margin-right: 300px; /* spacing between the icon and the button */
}

.edit-profile-btn {
    padding: 5px 10px; /* adjust button padding */
}

/* Assuming you have a Bootstrap CDN added in your project */
.course-card {
    width: 260px; /* Setting the width as per requirement, can be between 250 and 270px */
    margin: 35px 15px; /* 35px top and bottom, 15px left and right, adjust as needed */
}

/* If you want a solid color instead of an image */
.card-img-top {
    background-color: #f5f5f5; /* Sample color */
    height: 150px; /* Adjust as needed */
}

/* This ensures cards don't stretch or shrink */
.card {
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: added a light shadow for aesthetic purposes */
}

.breadcrumb-item + .breadcrumb-item::before {
    display: flex;
    content: ">";
    color: #6c757d;  /* This is Bootstrap's default breadcrumb separator color */
    padding: 0 0.5rem;  /* Giving it some space on left and right */
}

.breadcrumb-item {
    display: flex;
    flex-direction: row
}

.breadcrumb {
    text-align: left; /* Align the breadcrumb to the left */
}
.breadcrumb-item a {
    justify-content: flex-start; /* Left-align content inside breadcrumb links */
}


nav[aria-label="breadcrumb"] {
    grid-column: 2 / 4;  /* Span from the first to the last column */
}

.red-highlight {
    color: red !important; /* Using !important to ensure this color is applied even if there are other conflicting styles */
}

/* Override icons inside the button to be black */
.btn i {
    color: black !important;
}

/* For viewports less than 1000px wide */
@media (max-width: 1000px) {
    .container-fluid {
        grid-template-columns: minmax(80px, auto) 1fr 2fr; /* Removing the last 2fr */
        grid-template-areas: 
            "col1 nav nav"
            "col1 col2 col3";
    }

    .container-fluid > .column:nth-child(5) {
        display: none; /* Hide the last column */
    }
}


@media (max-width: 700px) {
    #sandwichIcon {
        display: flex; /* Or flex, depending on your needs */
    }

    .column .navbar {
        display: flex;
    }

    .container-fluid {
        grid-template-columns: 1fr; /* Only one column */
        grid-template-areas: "col3"; /* Only col3 */
    }

    .container-fluid > .column:nth-child(1), /* First column which is black-colored */
    .container-fluid > .column:nth-child(2), /* Your col1 */
    .container-fluid > .column:nth-child(3), /* Your col2 */
    .container-fluid > .column-group {       /* Your nav */
        display: none; /* Hide all these columns and nav */
    }

    .container-fluid > .column:nth-child(4) {
        grid-area: col3; /* Position col3 */
    }

    .container-fluid > .column:nth-child(4) .navbar {
        display: flex;  /* Make the navbar in the third column visible */
    }

    nav[aria-label="breadcrumb"] {
        display: none;
    }

        /* If the third column (col2) is displayed (within this media query), then show the sandwich icon */
        .container-fluid > .column:nth-child(3):not([style*="display: none"]) ~ #sandwichIcon {
            display: block;}
}

.shorter-button {
    width: 300px;  /* You can adjust this value as needed */
}


/* Styling for the Unpublish button */
.btn-light {
    background-color: #f8f9fa; /* Default Bootstrap light background color */
    color: #343a40; /* Default Bootstrap text color for light background */
    border: 1px solid #ced4da; /* Default Bootstrap border for light background */
}

.btn-light .fas {
    margin-right: 5px; /* Adding some space between the icon and the text */
}

/* Custom green styling for the Published button */
.btn-green {
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color for green background */
    border: none; /* Remove the default border */
}

.btn-green:hover {
    background-color: #45a049; /* Darker green for hover state */
}

.list-group > a.list-group-item {
    padding-left: 20px; /* Adjust as needed */
}

.green-check-circle {
    background-color: #4CAF50; /* green color */
    border-radius: 50%;        /* makes it circular */
    width: 24px;               /* adjust width if needed */
    height: 24px;              /* adjust height if needed */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.green-check-circle i.fas.fa-check {
    color: white !important;              /* makes the check icon white */
}

.text-success {
    color: white !important;
}

#sandwichIcon {
    display: none;
}

.column .navbar {
    display: none;
}

/* The navbar will occupy the full width of the column */
.navbar {
    width: 100%;
}

/* Adjust the sandwich icon, if needed */
.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.fas.fa-bars {
    color: white !important;
}

.navbar {
    margin-bottom: 30px;  /* adjust the value as per your needs */
}

.navbar-btn-chevron {
    color: white !important;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.navbar-toggler.navbar-btn-chevron i.fas {
    color: white !important; /* Replace #iconColor with the color you want for the icon */
}

.navbar-title {
    color: white;
    /* Add additional styles if needed */
}

.column-2-link {
    color: red;
    text-align: left;
}

/* This will only apply to the ul with class "specific-list" */
.specific-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left !important;
}

.specific-list li {
    text-align: left !important;
}

.specific-list li a {
    text-align: left !important;
    display: inline-block; /* This ensures the entire link content aligns left */
}

.content-rectangle {
    border: 2px solid #000;  /* Add a black border around the content. */
    padding: 20px;          /* Add some space inside the rectangle. */
    border-radius: 5px;     /* Optional: Make the corners slightly rounded. */
    margin: 30px;  
    position: relative;
}

.top-right-button {
    position: absolute;
    top: 10px;
    right: 10px;
}








