.search-input {
    margin-right: 100px;
}

.assign {
    margin-right: 10px;
}

.list-group-header {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f5f5f5;  /* light gray background for distinction */
}

.hw {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-weight: bold;
    background-color: none;
}

.list-group-item.hw {
    height: auto; 
}

.list-group-item.hw a {
    color: var(--ic-brand-font-color-dark-lightened-15) !important;        
    text-decoration: none; 
}

.search-container {
    display: flex;
    
    align-items: center;  
}

.search-input {
    flex-grow: 1;  /* Allow the input to take up remaining space */
}

.assign {
    margin-left: auto;  /* Push all subsequent items (the buttons) to the far right */
    margin-right: 10px; /* This can be kept or adjusted as needed */
}


.assignment-link {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.assignment-title {
    font-size: 1.5rem;
    color: var(--ic-brand-font-color-dark) !important;
}

.assignment-description {
    font-size: 1rem;
    color: var(--ic-brand-font-color-dark-lightened-15) !important;
}

.assignment-date {
    font-size: 0.8rem;
    color: var(--ic-brand-font-color-dark-lightened-15) !important;
}
