.grades-container {
    margin-right: 30px; /* adjust the value as per your requirement */
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.header-options {
    display: flex;
    align-items: center; /* Vertically align the items */
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Add a subtle shadow */
}

.btn-filter, .btn-import, .btn-export, .btn-options {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px 20px; /* Adjust cell spacing */
    border: 1px solid #e0e0e0; /* Add border for table cells */
}

.table thead th {
    background-color: #f5f5f5; /* Header background */
    font-weight: bold;
}

.btn-kanbas{
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #ced4da;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;    /* This makes children take full width */
    gap: 1rem;
    position: relative;  /* This is needed for absolute positioning of children, if used */
}


  
.header-options {
    display: flex;
    justify-content: flex-end !important;  /* Push content to the right */
    gap: 0.5rem;
}
  
.search-container {
    display: flex;
    width: 100%;  /* ensure the container takes up the full width */
    justify-content: space-between;
    gap: 1rem;
}
  
  .search-box h2 {
    width:50% !important;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .btn-filter {
    align-self: flex-start; 
    margin-bottom: 20px;
}

.search-box {
    width:50% !important;}

    .btn-kanbas i {
        margin-right: 8px; 
      }
      